.map {
    width: 100%;
    background: url(/media/background.jpg) no-repeat 0px 0px;
    background-size: auto 350%;
    background-position: center;
    margin-top: -1px;
    overflow: hidden;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}
.map * {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

.outerspace-wrapper {
    position: relative;
    height: 100%;
}
.outerspace {
    position: relative;
    /*box-shadow: 0px 0px 48px #fff;*/
    background: transparent;
}
.outerspace-row h3 {
    opacity: 0.5;
    display: block;
}
.outerspace-row:hover h3 {
    display: block;
}

.outerspace-row {
    position: absolute;
}
.outerspace-cell {
    position: absolute;
    background: transparent;
    width: 212px;
    height: 130px;
    border: solid transparent 0px;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.outerspace-cell:hover {
    background: #fff;
    opacity: 0.5;
}
.outerspace-cell-control {
    position: absolute;
    background: #fff;
    opacity: 0.1;
    width: 212px;
    height: 130px;
    border: solid transparent 0px;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    z-index: 200;
}
.outerspace-cell-control:hover {
    background: #000;
    opacity: 0.5;
}
.outerspace-cell-control.attack:hover {
    background: red;
    opacity: 0.5;
}
.outerspace-cell-player {
    position: absolute;
    width: 212px;
    height: 130px;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    background: green;
    opacity: 0.2;
}
.planet {
    position: absolute;
    /* z-index: 10; */
    width: 212px;
}
.planet img {
    width: auto;
    height: 140px;
    margin-top: 85px;
    padding-left: 35px;
}

/*
.outerspace-cell:hover {
    background-color: #ffdd00;
    opacity: 0.5;
}*/

.l0 {
    position: absolute;
    z-index: 111;
    background: transparent url(/media/main/L0.png) no-repeat;
    background-size: contain;
}

.team-popup {
    display: none;
    position: absolute;
    z-index: 888;
    left: 57px;
    top: 2px;
    background: #000;
    color: white;
    padding: 5px 15px;
    border-top: 2px orange solid;
    box-shadow: 5px 5px 10px #666;
    white-space: nowrap;
}
.team-popup .team-count {
    font-size: 11px;
    color: #ccc;
}
.team-popup .team-health {
    font-size: 11px;
    color: #ccc;
}
.team-popup .team-health strong {
    color: white;
}
.team-popup .defense {
    font-size: 11px;
    color: #ccc;
}
.team-popup .symbol {
    color: orange;
}

.team-popup .defense .x {
    margin-left: 5px;
    font-weight: bold;
    color: yellow;
}

.player:hover {
    cursor: pointer;
}
.player:hover .team-popup {
    display: block;
}

.planet-level-defence {
    position: absolute;
    z-index: 889;
    background:transparent;
    top: -9px;
    left: 29px;
    width: 20px;
    height: 25px;
    text-align: center;
    padding-top: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.planet-title {
    position: absolute;
    top: 175px;
    left: -35px;
    width: 288px;
    background: #444;
    opacity: 0.6;
    border: #ccc;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}
.planet button.btn-primary,
.planet button.planet-title-add,
.planet button.planet-upgrade {
    z-index: 1899 !important;
}

.planet-title-add {
    position: absolute;
    top: 175px;
    left: 0px;
    width: 212px;
    background: #00f;
    border: #ccc;
    color: #ff9;
    text-align: center;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.planet-upgrade {
    position: absolute;
    top: 217px;
    left: 0px;
    width: 212px;
    background: #00f;
    border: #ccc;
    color: #ff9;
    text-align: center;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.team-player-planet-img {
    margin-top: 0px;
    margin-left: 0px;
    background: transparent;
    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 5px 5px 5px;
    position: relative;
}

.team-player-img {
    margin-top: 60px;
    margin-left: 120px;
    background: url(/hex2.png) no-repeat 0px 0px;
    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 5px 5px 5px;
    position: relative;
}

.team-player-health {
    position: absolute;
    top: 1px;
    left: 0px;
    height: 2px;
    background: #660000;
    overflow: hidden;
}
