
.wallet { font-size: 12px; color: white; margin-bottom: 3px; }
.wallet .line1 { color: #eee; }
.wallet .networkTitle { margin-left: 10px; background: darkred; color:white; font-weight: bold; padding-left: 10px; padding-right: 10px; }
.wallet .networkTitle.mainnet { background: orange; }
.wallet .balance { font-weight: bold; margin-left: 10px; color: #ff9900; }
